#Directories
.idea/
.github/
.vscode/
.circleci/
node_modules/
tests/
src/
exemple/


#Files
*.log
.eslintrc
.eslintrc.json
.eslintignore
.npmignore
.gitignore
.prettierrc
jest.config.js
tsconfig.json